.App > ul > li {
  float: left;
  list-style: none;
  padding-right: 10px;
  border-right: 1px gray dotted;
}

.App > div {
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
